.DS_Store
.vscode
managed_components/
target/
components/arduino/
components/esp-dl/
components/esp-sr/
components/esp32-camera/
components/esp_littlefs/
components/esp-rainmaker/
components/espressif__esp-dsp/
esp-idf/
out/
build/
dist/
env.sh
sdkconfig
sdkconfig.old
version.txt
dependencies.lock
tools/esptool/
